### **Mathemical Operations**

In [0]:
import numpy as np 
import sys

In [4]:
a = np.array([[1,1],[0,1]])
b = np.array([[2,3],[4,2]])
print("The first array is : ",a)
print("The second array is : ",b)

The first array is :  [[1 1]
 [0 1]]
The second array is :  [[2 3]
 [4 2]]

In [5]:
np.sqrt(a)

array([[1., 1.],
       [0., 1.]])

In [6]:
np.std(a)

0.4330127018922193

In [7]:
print("The sum is ",a+b)

The sum is  [[3 4]
 [4 3]]

In [8]:
print("The difference is ",a-b)

The difference is  [[-1 -2]
 [-4 -1]]

In [9]:
print("The product is ",a*b)

The product is  [[2 3]
 [0 2]]

In [13]:
print("The dot product is ",a.dot(b))

The dot product is  [[6 5]
 [4 2]]